[Unit]
Description=spring boot daemon
After=network.target

[Service]
User={{backappuser}}
Group={{backappgroup}}
WorkingDirectory={{service.workingdir}}
ExecStart={{service.execstart}}

[Install]
WantedBy=multi-user.target